body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
input {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
textarea {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
